body{
  font-family: 'Ubuntu', sans-serif;
}

.container{
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

p{
  font-size: 18px;
  line-height: 24px;
}

h1{
  font-size: 30px;
}

h3{
  color: #999;
  font-weight: 300;
  margin-top: -12px;
}

.light{
  color: #aaa;
  font-weight: 300;
}

.button{
  display: inline-block;
  padding: 15px 30px;
  background: #D1E751;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  border: none;
  outline: none;
  text-align: center;
  box-sizing: border-box;
}

.button:hover{
  background: #9cb604;
}

textarea, input{
  width: 100%;
  border: none;
  outline: none;
  border-left: 2px #ccc solid;
  font-size: 18px;
  margin-bottom: 15px;
  padding: 10px 0;
  padding-left: 15px;
}

textarea:focus, input:focus{
  border-color: #999;
}

.user-info{
  font-size: 14px;
  text-align: right;
  margin-top:10px;
}

.user-info .username{
  font-weight: 500;
}

.user-info a{
  color:#666;
  font-size: 13px;
  font-weight: 300;
  text-decoration: none;
}

.user-info a:hover{
  text-decoration: underline;
}

/* Header & Footer */

h1.header{
  font-size: 40px;
}

h1.header a{
  color: inherit;
  text-decoration: none;
}

.footer{
  text-align: center;
  margin-top: 20px;
  color: #ccc;
  font-size: 14px;
}

.footer iframe{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.footer .dark{
  text-decoration: none;
  color: #999;
}

.footer a.dark:hover{
  color: #666;
}

/* Homepage */

.container.homepage{
  text-align: center;
}

.container.homepage h1{
  font-family: 'PT Serif', serif;
  font-size: 60px;
  color: #111;
}

.container.homepage h2{
  color: #999;
  font-weight: 300;
  font-size: 18px;
  margin-top: -24px;
}

.container.homepage h2 a{
  color: #999;
}

/* Topic */

.topic .metadata{
  font-size: 14px;
  margin-top: -18px;
}

.topic .button{
  display: block;
  width: 100%;
}

.topic .question{
  margin-top: 20px;
  font-size: 22px;
  min-height: 46px;
}

.topic .question .text{
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 10px;
}

.topic .question .metadata{
  margin: 0;
}

.topic .question {
  padding-right: 70px;
  position: relative;
}

.topic .question .vote-area{
  width: 60px;
  height: 46px;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -23px;
  color: #333;
  font-size: 14px;
  text-align: center;
}

.topic .question .vote-area .button{
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  position: absolute;
  bottom: 0px;
  display: block;
}

.topic .question .vote-area .button.state-voted{
  background: #9cb604;
}

.topic .question .vote-area .button.state-voted:hover{
  background: #D1E751;
}

.topic .question .vote-area .button.state-locked:hover, .topic .question .vote-area .button.state-locked{
  background: #ccc;
  cursor: not-allowed;
}

/* Topics List */

.topics .topic h2 a{
  text-decoration: none;
  color: #333;
}


.topics .topic h2 a:hover{
  text-decoration: underline;
}
