{{template "pageHeader" .}}
<div class="container topic">
  <h1><span class="light">§</span> {{.Name}}</h1>
  <div class="metadata">
    <span class="light">Posted on</span> {{.PostDate}} <span class="light">by</span> {{.AuthorName}}
  </div>
  <p>{{.Description}}</p>
  <h2><span class="light">§</span> Questions:</h2>
  <h3>Submit and vote on questions.</h3>
  {{ if .LoggedIn }}
    <form method="POST" action="/topics/{{.Id}}/question">
      <textarea name="question" placeholder="Submit a question" required></textarea>
      <button class="button" type="submit">Submit Question</button>
    </form>
  {{else}}
    <a href="/login/{{.Id}}" class="button">Log in to post a question.</a>
  {{end}}
  {{ range $key, $value := .Questions }}
    <div class="question">
      <div class="text">{{$value.Text}}</div>
      <div class="metadata">
        <span class="light">Posted on</span> {{$value.PostDate}} <span class="light">by</span> {{$value.AuthorName}}
      </div>
      <div class="vote-area">
        {{$value.Votes}} vote{{if ne $value.Votes 1 }}s{{end}}
        {{ if and $.LoggedIn (not .BelongsToUser) }}
          {{ if .UserCanVote}}
            <form method="POST" action="/topics/{{$.Id}}/question/{{.Id}}/vote">
              <button action="submit" class="button">Vote</button>
            </form>
          {{ else }}
            <form method="POST" action="/topics/{{$.Id}}/question/{{.Id}}/unvote">
              <button action="submit" class="button state-voted">Unvote</button>
            </form>
          {{ end }}
        {{ else if $.LoggedIn }}
          <button class="button state-voted state-locked">Vote</button>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
{{template "footer"}}
